
a.social {
  --bg-img: "";
  background-image: var(--bg-img);
  width: 1.5rem;
  height: 1.5rem;
  display: block;

  /* compartibilidade de navegadores */
  --webkit-backgroud-clip: initial;
   /* clip realiza recorte no texto, para somente o texto ter a cor que será definido no texto == A propriedade CSS background-clip especifica se o fundo de um elemento, seja cor ou imagem, se extende debaixo de sua área de borda, preenchimento ou conteúdo. 
   
   Initial segnifical voltar original */
  background-clip: initial;

  /* Todos os botões que tiver aria-label será executado */
  &[aria-label="tiktok"] {
    --bg-img: url(../assets/icons/tiktok.svg);

    &:hover {
      --bg-img: url(../assets/icons/tiktok-hover.svg);
    }
  }

   /* Todos os botões que tiver aria-label será executado */
   &[aria-label="instagram"] {
    --bg-img: url(../assets/icons/instagram.svg);

    &:hover {
      --bg-img: url(../assets/icons/instagram-hover.svg);
    }
  }

   /* Todos os botões que tiver aria-label será executado */
   &[aria-label="twitter"] {
    --bg-img: url(../assets/icons/twitter.svg);

    &:hover {
      --bg-img: url(../assets/icons/twitter-hover.svg);
    }
  }

  /* Todos os botões que tiver aria-label será executado */
  &[aria-label="discord"] {
    --bg-img: url(../assets/icons/discord.svg);

    &:hover {
      --bg-img: url(../assets/icons/discord-hover.svg);
    }
  }
}